

$footer-header: #212121;
$main-color: #B8B8B8;
$fa-facebook-f: #3b5998;
$fa-instagram: #ff006a;
$fa-whatsapp: #09ff00;
$primario: #000000;
$gris-claro: #B8B8B8;
$sombra: 0 0 13px 0 rgba(185,185,185, 1);

